// bower:scss
// endbower

@import "../../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1240px
) !default;


@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
	$n: index($breakpoint-names, $name);
	@return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
	$min: map-get($breakpoints, $name);
	@return if($min != 0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
	$next: breakpoint-next($name, $breakpoints);
	@return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}

@mixin media($media) {
	$breakpoint: breakpoint-min($media);
	@include breakpoint($breakpoint) {
		@content;
	}
}

@mixin media-down($media) {
	$breakpoint: breakpoint-min($media);
	@include breakpoint(max-width $breakpoint) {
		@content;
	}
}

@mixin media-only($media) {
	
	$min: breakpoint-min($media);
	$max: breakpoint-max($media);
	
	@include breakpoint($min $max) {
		@content;
	}
}

img {
	max-width: 100%;
	height: auto;
}


.l-layout {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-gap: 15px;
	grid-template-columns: 1fr;
	grid-template-areas:
		"slideshow"
		"header"
		"sidebar"
		"content"
		"footer";
	
	
	@include media(md) {
		grid-template-columns: 1fr 3fr;
		grid-template-areas:
			"header header"
			"slideshow slideshow"
			"sidebar content"
			"footer footer";
	}
	
	> * {
		background-color: #ebebeb;
		padding: 30px;
	}
	
	.header {
		grid-area: header;
	}
	
	.slideshow {
		grid-area: slideshow;
	}
	
	.sidebar {
		grid-area: sidebar;
	}
	
	.content {
		grid-area: content;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: repeat(4, 1fr);
		
		.box {
			background-color: pink;
			min-height: 100px;
		}
	}
	
	.footer {
		grid-area: footer;
	}
}
